<div>

	<div style="text-align: center">
		<img ng-src="images/KaChingSlogan-1.jpg" height="40%" width="60%">
	</div>

	<p><p>
	KaChing is an online platform that allows users to perform basic banking transactions, such as viewing an account balance, transferring funds, and viewing account history. The system involves a web application that communicates with a transaction processing environment that sits in the cloud. The backend is highly scalable and has been put under high stress testing using multi-threaded simulation. Security features are also implemented that will help prevent fraudulent activity and scamming the system.

	<p>
<!-- 	<div class="embed-responsive embed-responsive-16by9" style="text-align: center">
	  <iframe class="embed-responsive-item" src="http://www.vidbull.com/embed-q3yflnvzvutm-540x318.html"></iframe>
	</div>
 -->

 	<div style="text-align: center">
 		<a href="https://www.youtube.com/watch?v=6EfwL8cK_U4" class="link-purple">Our inspiration</a>
 	</div>
</div>