<!-- Side Nav -->
<div class="well sidebar-nav bs-docs-sidebar">
    <ul class="nav nav-stacked">
    	<li class="nav-header"><a href="#/" tooltip="Home page">Home</a></li>
        <li class="nav-header"><a href="#/balance" tooltip="View your account balances">Account Balance</a></li>
        <li class="nav-header"><a href="#/transaction" tooltip="Deposit or withdraw money from your accounts">Deposit/Withdraw</a></li>
        <li class="nav-header"><a href="#/history" tooltip="View history of deposits and withdrawals">Inquire</a></li>
    </ul>
</div>