<h3>Test</h3>
<div ng-init="">

	<form role="form" name="loginForm">
		<label for="type"> Transaction type</label>
		<br>
		<div class="btn-group">
			<button type="button" class="btn btn-yellow dropdown-toggle" data-toggle="dropdown" aria-expanded="false">{{transaction.type}} <span class="caret"></span></button>
			<ul class="dropdown-menu" role="menu">
				<li ng-repeat="option in transaction_type_options" ng-click="transaction.type = option"><a href="">{{option}}</a></li>
			</ul>
		</div>

		<div class="form-group">
			<label for="account_number">Account number</label>
			<input type="text" placeholder="Enter account number" class="form-control" required ng-model="transaction.info.account_number">
		</div>

		<div class="form-group" ng-hide="transaction.type == 'Balance' || transaction.type == 'History'">
			<label for="amount">Amount</label>
			<input type="text" placeholder="Enter amount" class="form-control" ng-model="transaction.info.amount">
		</div>

		<div class="form-group" ng-show="transaction.type == ('History')">
			<label for="day_range">Day range</label>
			<input type="text" placeholder="Enter day range" class="form-control" ng-model="transaction.info.day_range">
		</div>

		<button class="btn btn-small btn-purple" ng-click="sendTransaction()">sendTransaction()</button>
	</form>

	<p>
	{{result}}

</div>
