<h3>Transfer Money & Make Payments</h3>
<div ng-init="">
	<label for="amount" class="col-sm-2">From Account</label>
	<div class="btn-group col-sm-10">
	    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" style="min-width: 600px;">
	        {{fromAccount}} <span class="caret"></span>
	    </button>
		    <ul class="dropdown-menu scrollable-menu" role="menu">
		        <li ng-repeat="acc in accountsList" ng-click="setFromAccount(acc);" style="text-align: left"><a href="">{{acc}}</a></li>
		    </ul>
	</div>

	<br><br>

	<label for="amount" class="col-sm-2">To Account</label>
	<div class="btn-group col-sm-10">
	    <button type="button" class="btn btn-default dropdown-toggle " data-toggle="dropdown" style="min-width: 600px;">
	        {{toAccount}} <span class="caret"></span>
	    </button>
	    <ul class="dropdown-menu scrollable-menu" role="menu">
	        <li ng-repeat="acc in accountsList" ng-click="setToAccount(acc);" style="text-align: left"><a href="">{{acc}}</a></li>
	    </ul>
	</div>

	<br><br>

	<form role="form" name="transferForm">
		<div class="form-group">
			<label class="control-label col-sm-2" for="amount">Amount</label>
			<div class="input-group col-sm-8">
				<div class="input-group-addon">$</div>
				<input class="form-control" type="text" placeholder="0" required ng-model="transferAmount">
				<div class="input-group-addon">.00</div>
			</div>
		</div>
		<button class="btn btn-primary" type="submit" ng-click="transfer()">Transfer</button>
		<p></p>
	</form>
</div>